---
import { Image } from 'astro:assets';
import iglesia from '../assets/iglesia.svg';

import '../styles/font_h1_styles.css';
---
<div class=" min-w-sm w-full flex flex-col justify-center items-center">
  <!-- Header -->
  <div class="text-center mb-8">
    <h1 class="text-3xl font-serif text-blue-800 mb-2 fleur">Bryan & Genesis</h1>
    <p class="quicksand slate-600">Se parte de nuestro dia especial</p>
    <p class="quicksand text-sm text-gray-600">Sábado, 21 de Junio de 2025</p>
  </div>

  <div class="flex flex-row w-[90%] justify-between">
    <div id="primero" class="w-[30%] h-[200px] flex flex-col justify-between items-center">
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
        <div>
            <Image
                src={iglesia}
                alt="Iglesia"
                class="w-6 h-6 move-left-to-right"
                />
        </div>
    </div>
    <div id="segundo" class="h-[200px] relative flex  items-center flex-row">
      <div class="h-[95%] border-1 border-[#d0a65f] rounded-lg"></div>
      <div class="h-[95%] flex flex-col justify-between absolute -translate-x-[3px] ">
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
        <div class="w-2 h-2  bg-[#d0a65f] rounded-full"></div>
      </div>
    </div>
    <div id="tercero" class="w-[30%] h-[200px] flex flex-col justify-between items-center quicksand">
        <div>
           <p class="bouncer-right text-center text-[10px] pt-serif-regular text-slate-600 ">Ceremonia</p>
        </div>
        <div>
           <p class="boucer-left text-center text-[10px] pt-serif-regular text-slate-600">Recepcion</p>
        </div>
        <div>
           <p class=" bouncer-right text-center text-[10px] pt-serif-regular text-slate-600">Brindis</p>
        </div>
        <div>
           <p class="boucer-left text-center text-[10px] pt-serif-regular text-slate-600">Fotografia</p>
        </div>
        <div>
           <p class=" bouncer-right text-center text-[10px] pt-serif-regular text-slate-600">Cena</p>
        </div>
        <div>
           <p class="boucer-left text-center text-[10px] pt-serif-regular text-slate-600">Corte De Pastel</p>
        </div>
    </div>
    <div id="cuarto" class="w-[30%] h-[200px] flex flex-col justify-between items-center">
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">6:00 pm</p>
        </div>
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">7:00 pm</p>
        </div>
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">7:15 pm</p>
        </div>
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">7:30 pm</p>
        </div>
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">8:00 pm</p>
        </div>
        <div>
          <p class="move-right-to-left text-center text-[10px] pt-serif-regular text-slate-600">8:40 pm</p>
        </div>
    </div>
  </div>
</div>
